.header-container {
    display: grid;
    grid-template-columns: auto;
    background-color: #981E32;
    padding: 10px;

    grid-column: 1 /3;
  }
  .header-content {
    color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  